.light {
  --text-color: #000000 ;
  --bg-color: #FFFFFF ;
  --btn-color: #FFFFFF ;
}

.dark {
  --text-color: #FFFFFF ;
  --bg-color: #000000 ;
  --btn-color: #000000 ;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

#root {
  font-family: Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: color 0.7s ease, background-color 0.7s ease;
}

header {
  height: 96px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 8rem;
}
header ul {
  list-style-type: none;
  display: flex;
}
header ul a {
  text-decoration: none;
}
header a {
  color: inherit;
}
header nav ul {
  justify-content: space-between;
}
header div {
  position: relative;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header div ul {
  gap: 20px;
}
header .theme-switcher {
  --ts-width: 87px ;
  --ts-height: 41px ;
  position: absolute;
  right: calc(-1 * var(--ts-width) - 10px);
  width: var(--ts-width);
  height: var(--ts-height);
  border-radius: 20px;
  padding: 0 10px;
  background-color: #F5F5F5;
  transition: background-color 0.7s ease;
  cursor: pointer;
}
header .theme-switcher .img {
  position: relative;
  z-index: 5;
}
header .theme-switcher .cursor {
  left: 0;
  position: absolute;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #0071E3;
  transform: translateX(0);
  transition: transform 0.4s ease;
}

.dark .theme-switcher {
  background-color: #171717;
}
.dark .theme-switcher .cursor {
  transform: translateX(46px);
}
.dark svg path {
  fill: var(--text-color);
}

main {
  position: relative;
  height: calc(100vh - 98px);
  overflow-y: hidden;
}

#hero {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transform: scale(1);
  transition: transform 0.7s ease;
}
#hero h1 {
  transition: color 0.7s ease;
  margin-top: 40px;
  font-size: 16vw;
  white-space: nowrap;
}

.open #hero {
  transform: scale(0.9);
  position: relative;
}
.open #hero h1 {
  color: #D2D2D7;
}

.dark #hero h1 {
  color: #34343A;
}

.section {
  position: absolute;
  top: 0;
  width: calc(100% - 100px);
  height: calc(100% - 50px);
  margin: 25px 50px;
  overflow: hidden;
  display: flex;
  justify-content: end;
  background-color: rgba(245, 245, 245, 0.4);
  transform: translateY(120%);
  transition: transform 0.7s ease, background-color 0.7s ease;
  display: flex;
}

.open .section, .before-open .section {
  transform: translateY(0);
}

.dark .section {
  background-color: rgba(23, 23, 23, 0.8);
}

.airpods-container {
  width: calc(60% - 80px);
  height: calc(100vh - 148px);
  margin-left: 50px;
  margin-top: 123px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 10;
}

.airpods-container .pod-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 225px;
  transition: all 0.7s ease;
  top: calc(50% - 112.5px);
  left: calc(50% - 100px);
}
.airpods-container .pod-item img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.7s ease;
}

.open .top {
  top: 0 !important;
  left: 0 !important;
  transform: scale(0.5);
  transform-origin: top left;
}
.open .top img {
  transform: rotate(-90deg);
}
.open .bottom {
  top: calc(100% - 225px) !important;
  left: 0 !important;
  transform: scale(0.5);
  transform-origin: bottom left !important;
}
.open .bottom img {
  transform: rotate(90deg);
}
.open .left {
  left: -300px !important;
  top: calc(50% - 112.5px) !important;
  transform: scale(0.5);
}
.open .pod-active {
  transform: scale(2);
}

.close .pod-item:nth-of-type(1) {
  transform: translate(80px, -70px) rotate(-15deg);
}
.close .pod-item:nth-of-type(2) {
  transform: translate(55vw, 22vh) rotate(140deg);
}
.close .pod-item:nth-of-type(3) {
  transform: translate(-220px, 70px) rotate(20deg);
}

.middle .pod-item:nth-of-type(1) {
  transform: translate(80px, -130px) rotate(-15deg);
}
.middle .pod-item:nth-of-type(2) {
  transform: translate(90vw, 50vh) rotate(140deg);
}
.middle .pod-item:nth-of-type(3) {
  transform: translate(-500px, 100px) rotate(20deg);
}

.before-open .pod-item:nth-of-type(1) {
  transform: translate(80px, -130px) rotate(-15deg);
}
.before-open .pod-item:nth-of-type(2) {
  transform: translate(-90vw, 50vh) rotate(140deg);
  transition: none;
}
.before-open .pod-item:nth-of-type(3) {
  transform: translate(-500px, 100px) rotate(20deg);
}

.text-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 20px;
}

.text-container h3 {
  font-size: 17px;
  color: #BF4800;
  transform: translateX(140%);
}
.text-container h2 {
  font-size: 46px;
  transform: translateX(140%);
}

.about {
  transition: background-color 0.7s ease;
  background-color: var(--bg-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
}
.about .amount {
  display: block;
  font-size: 25px;
}
.about h5, .about p {
  font-size: 12px;
}

.pod-navigation {
  display: flex;
  gap: 15px;
  height: 250px;
  position: relative;
  transform: translateX(140%);
}

.item {
  width: 100%;
  transition: background-color 0.7s ease;
  background-color: var(--bg-color);
  height: 100%;
  position: relative;
  border-radius: 8px;
}
.item .img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.item .img-container .air {
  width: 40%;
}
.item .img-container .finish {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.item .img-container .finish img {
  width: 30%;
}
.item .img-container p {
  white-space: nowrap;
}
.item img {
  width: 100%;
}
.item .bg {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 8px;
  background-color: #F5F5F5;
  transition: transform 0.7s ease, background-color 0.7s ease;
  transform-origin: bottom;
  transform: scaleY(0.05);
}

.dark .bg {
  background-color: #171717;
}

.active .bg {
  transform: scaleY(0.8);
}

.pod-navigation .cursor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(33.3333333333% - 10px);
  height: 4px;
  background-color: #0071E3;
  transition: transform 0.7s ease;
}

.open h3, .open h2, .open .pod-navigation {
  transform: translateX(0);
  transition: transform 0.7s ease 0.4s;
}
.open .about {
  opacity: 1;
  transition: background-color 0.7s ease, opacity 0.7s ease 0.4s;
}

.btn-navigation {
  position: absolute;
  bottom: -100px;
  height: 53px;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  z-index: 20;
  transition: bottom 0.7s ease;
}
.btn-navigation .span:nth-of-type(1) {
  width: 53px;
  color: var(--btn-color);
  transition: color 0.7s ease, fill 0.7s ease, transform 0.7s ease;
}
.btn-navigation .span:nth-of-type(1) svg, .btn-navigation .span:nth-of-type(1) path {
  fill: inherit !important;
}
.btn-navigation .span {
  cursor: pointer;
  border-radius: 26.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  background-color: #0071E3;
  transition: width 0.7s ease;
  color: var(--btn-color);
  fill: var(--btn-color);
  transition: color 0.7s ease, fill 0.7s ease, width 0.7s ease;
}
.btn-navigation .span:nth-of-type(2) {
  position: relative;
  font-size: 25px;
  overflow: hidden;
}
.btn-navigation .span:nth-of-type(2) span {
  cursor: pointer;
  position: absolute;
  display: block;
  transition: transform 0.7s ease, opacity 0.55s ease;
}
.btn-navigation .span:nth-of-type(2) .svg-container {
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  transition: left 0.7s ease, transform 0.7s ease;
}
.btn-navigation .span:nth-of-type(2) .svg-container svg, .btn-navigation .span:nth-of-type(2) .svg-container path {
  fill: inherit !important;
}

.open .btn-navigation {
  bottom: 20px;
}

.next .span:nth-of-type(1) {
  transform: translateX(80px);
}
.next .span:nth-of-type(2) {
  width: 145px !important;
}
.next .span:nth-of-type(2) span:nth-of-type(1) {
  left: 10px;
  transform: translateX(0px);
  opacity: 1;
}
.next .span:nth-of-type(2) span:nth-of-type(2) {
  transform: translateX(150%);
  opacity: 0;
}
.next .span:nth-of-type(2) .svg-container {
  left: 102px;
}

.prev-next .span:nth-of-type(2) {
  width: 145px !important;
}
.prev-next .span:nth-of-type(2) span:nth-of-type(1) {
  left: 10px;
  transform: translateX(0px);
  opacity: 1;
}
.prev-next .span:nth-of-type(2) span:nth-of-type(2) {
  transform: translateX(150%);
  opacity: 0;
}
.prev-next .span:nth-of-type(2) .svg-container {
  left: 102px;
}

.prev .span:nth-of-type(1) {
  transform: translateX(80px);
}
.prev .span:nth-of-type(2) {
  width: 170px !important;
}
.prev .span:nth-of-type(2) span:nth-of-type(1) {
  transform: translateX(-170%);
  opacity: 0;
}
.prev .span:nth-of-type(2) span:nth-of-type(2) {
  transform: translateX(0px);
  opacity: 1;
  right: 10px;
}
.prev .span:nth-of-type(2) .svg-container {
  left: 10px;
  transform: rotate(-180deg);
}

.button {
  z-index: 11;
  position: absolute;
  bottom: 25vh;
  left: calc(50vw - 75px);
  width: 150px;
  height: 53px;
  transition: opacity 0.7s ease, transform 0.7s ease;
}
.button span {
  cursor: pointer;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  background-color: #0071E3;
  color: var(--btn-color);
  fill: var(--btn-color);
  transition: color 0.7s ease, fill 0.7s ease;
  font-size: 25px;
}
.button svg, .button path {
  fill: inherit !important;
}

/*# sourceMappingURL=index.css.map */
