$padding-x: 8rem ;
$blue: #0071E3 ;
$grey: #F5F5F5 ;
$black: #171717 ;

.light {
  --text-color: #000000 ;
  --bg-color: #FFFFFF ;
  --btn-color: #FFFFFF ;
}

.dark {
  --text-color: #FFFFFF ;
  --bg-color: #000000 ;
  --btn-color: #000000 ;
}